* {
    padding: 0px;
    margin: 0px;
}

#main_fon {
    height: 734px;
    background-image: url(fon.jpg);
    background-repeat: no-repeat;
}

#pass_title {
    padding-top: 41px;
    padding-left: 74px;
}

.poiret-one-regular {
    font-family: 'Poiret One', sans-serif;
    font-weight: italic;
    font-style: normal;
    letter-spacing: 0.08em;
    word-spacing: 0.25em;
}

@font-face {
    font-family: 'Kreml';
    src: local('Kreml'), url(/Kreml.ttf.ttf);
}

.vidanstr1 {
    font-family: 'Kreml';
    padding-top: 20px;
    padding-left: 145px;
}

.vidanstr2 {
    font-family: 'Kreml';
    padding-top: 10px;
    padding-left: 175px;
    word-spacing: 0.65em;
}

.vidanstrdata {
    font-family: 'Kreml';
    padding-top: 10px;
    padding-left: 255px;
    word-spacing: 0.65em;
    float: left;
}

.vidanstrcode {
    font-family: 'Kreml';
    padding-top: 37px;
    padding-left: 325px;
    word-spacing: 0.65em;
}

.podpis {
    padding-top: 30px;
    float: left;
}

.podpis1 {
    padding-top: 50px;
    padding-left: 115px;
}

.passfoto {
    padding-top: 150px;
    padding-left: 22px;
    float: left;
}

.familia {
    padding-top: 110px;
    padding-left: 250px;
}

.name {
    padding-top: 37px;
    padding-left: 250px;
}

.fname {
    padding-top: 10px;
    padding-left: 250px;
}

#familia {
    padding-top: 110px;
    padding-left: 250px;
}

#name {
    padding-top: 37px;
    padding-left: 250px;
}

#fname {
    padding-top: 10px;
    padding-left: 250px;
}

.pol {
    padding-top: 10px;
    padding-left: 40px;
    float: left;
}

.hborn {
    padding-top: 10px;
    padding-left: 340px;
}

.hpborn1 {
    padding-top: 6px;
    padding-left: 250px;
    word-spacing: 0.7em;
}

.hpborn2 {
    padding-top: 10px;
    padding-left: 250px;
}
